.AuthHeadline {
  font-size: 6vmin;
  margin-bottom: 2vmin;
}

.ButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.LogInButton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4vmin;
}