.EditDonutFormHeadline {
  font-size: 6vmin;
  color:rgb(217, 184, 134);
}

.EditDonutFormContainer {
  height: 110vh;
  width: 58vw;
  background-color: rgb(217, 184, 134);
  border: 2vmin solid rgb(241, 184, 204);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10vmin;
}

.EditDonutButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 4.5vmin;
  margin-left: 27vmin;
}